.content_placeholder {
  justify-content: space-evenly;
}

.group_list {
  width: 500px;
  height: 500px;
  margin: 20px 0px;
  align-self: center;
  background-color: white;
  padding: 50px;
  border-radius: 2%;
  border: 1px solid #cccc;
  font-family: Roboto;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.group_header {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-bottom: 10px;
}
.group_header p:nth-child(1), .group_item p:nth-child(1) {
  width: 60%;
}

.group_header p:nth-child(2), .group_item p:nth-child(2) {
  width: 25%;
}

.group_item {
  display: flex;
  flex-direction: row;
  margin: 15px 0px;
}

.edit-dropdown-menu {
  min-width: 5rem;
}


/**
  Edit Modal style
 */
#edit_group_modal .modal-title {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
}

#edit_group_modal .modal-body {
  font-family: 'Overpass Mono', monospace;
  font-size: 1em;
  font-weight: lighter;
}

#edit_group_modal .modal-footer .btn {
  font-family: "Poppins";
}


/**
  Scrollbar style below
 */
.group_list:hover::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F5F5F5;
}
.group_list:hover::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
.group_list::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}
.group_list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
  border-radius: 10px;
  background-color: #f9f9f9;
}
.group_list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
  background-color: rgba(200,200,200,0.1);
}
