<link rel="stylesheet" href="/styles/home/master.css" />

<div class="content_placeholder">
  <p style="font-family: Poppins; font-weight: bold; font-size: 1.4em;">Timetable Planning &amp; Scheduling System &dash; Homepage</p>
  <small style="font-family: Poppins;">A website designed by Wong Yijie &copy;</small>

  <div class="navigation">
    <div class="item" onclick="window.location.href = '/staff'">
      <p>Staff</p>
      <small>SCSE Staff Details</small>
    </div>
    <div class="item" onclick="window.location.href = '/module'">
      <p>Module</p>
      <small>SCSE Curriculum Module Details</small>
    </div>
    <div class="item" onclick="window.location.href = '/group'">
      <p>Group</p>
      <small>SCSE Group Indexes and Details</small>
    </div>
    <div class="item" onclick="window.location.href = '/venue'">
      <p>Venue</p>
      <small>SCSE Venue and Location</small>
    </div>
    <div class="item" onclick="window.location.href = '/planner'">
      <p>Planner</p>
      <small>SCSE Personal Scheduler</small>
    </div>
  </div>

  <div class="images_container">
    <img src="/images/homepage_image_1.jpg" height="300px" width="450px" />
    <img src="/images/homepage_image_2.jpg" height="300px" width="450px" />
    <img src="/images/homepage_image_3.jpg" height="300px" width="450px" />
    <img src="/images/homepage_image_4.jpg" height="300px" width="450px" />
    <img src="/images/homepage_image_5.jpg" height="300px" width="450px" />
    <img src="/images/homepage_image_6.jpg" height="300px" width="450px" />
  </div>
</div>
